.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
}

input,
button {
	font-size: 1.2rem;
	padding: 5px;
	border-radius: 5px;
}

input {
	width: 50%;
	padding-left: 10px;
}

button {
	width: 25%;
	margin: 10px;
}

button:hover {
	background-color: lightgrey;
	color: blue;
	cursor: pointer;
}

ul {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	text-align: center;
}

li {
	font-size: 1.4rem;
	margin: 5px;
	text-decoration: none;
}
